.btn-gray {
    color: grey !important;
  }
  
  .btn-gray:hover {
    color: rgb(155, 155, 155) !important;
  }
  
  
  .btn-blue {
    background-color: #fff;
    border-color: #fff;
    border: none;
    color: white;
    text-align: left !important;
    width: 100%;
    padding-left: 40px !important;
    border-radius: 0px;
    border-left: none !important; 
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
    font-weight: bold !important;
  }
  
  .btn-blue:hover {
    background-color: #fff !important;
    border-color: #ffffff !important;
    color: #005b7f !important;
    border-left: 3px solid #005b7f !important;
    border-radius: 0px;
  }
  
  .btn-brand-outline {
    background-color: #fff;
    border-color: #005b7f !important;
    color: #005b7f !important;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }
  
  .btn-brand-outline:hover {
    background-color: #005b7f !important;
    border-color: #005b7f !important;
    color: #fff !important;
  }
  
  .btn-brand-outline:active {
    background-color: rgba(0, 0, 0, 0.753) !important;
    transform: translateY(1px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  }
  
  .btn-brand-outline:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 91, 127, 0.25);
  }



  .btn-green {
    background-color: #fff;
    border-color: #fff;
    border: none;
    color: white;
    text-align: left !important;
    width: 100%;
    padding-left: 40px !important;
    border-radius: 0px;
    border-left: none !important; 
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }
  
  .btn-green:hover {
    background-color: #fff !important;
    border-color: #ffffff !important;
    color: #007f4e !important;
    border-left: 3px solid #007f4e !important;
    border-radius: 0px;
    font-weight: bold;
  }

  
.btn-request {
    background-color: #fff;
    border-color: #fff;
    border: none;
    color: white;
    text-align: left !important;
    width: 100%;
    padding-left: 40px !important;
    border-radius: 0px;
    border-left: none !important; 
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important; 
  }
  
  .btn-request:hover {
    background-color: #fff !important;
    border-color: #ffffff !important;
    color: #005b7f !important;
    border-left: 3px solid #005b7f !important;
    border-radius: 0px;
    font-weight: bold;
  }
  
  
.btn-update {
    background-color: #005b7f !important;
    color: white !important;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.25rem;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .btn-update:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .btn-update:active {
    background-color: #91c9f7 !important;
    transform: translateY(1px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  }
  
  .btn-update:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 91, 127, 0.25);
  }
  
  /***** DELETE BUTTON *****/
  
  .btn-delete {
    background-color: #7f0000 !important;
    color: white !important;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.25rem;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .btn-delete:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .btn-delete:active {
    background-color: #f79191 !important;
    transform: translateY(1px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  }
  
  .btn-delete:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 91, 127, 0.25);
  }

  /***** BACK BUTTON *****/

.btn-back {
  background-color: #005b7f !important;
  color: white !important;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.btn-back:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.btn-back:active {
  background-color: #91c9f7 !important;
  transform: translateY(1px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.btn-back:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 91, 127, 0.25);
}

/***** LOGIN BUTTON ******/

.btn-brand {
  background-color: #005b7f !important;
  color: white !important;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  margin-bottom: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.btn-brand:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.btn-brand:active {
  background-color: rgba(0, 0, 0, 0.328) !important;
  transform: translateY(1px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.btn-brand:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 91, 127, 0.25);
}

.btn-login {
  background-color: #005b7f !important;
  color: white !important;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  margin-bottom: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.btn-login:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.btn-login:active {
  background-color: #91c9f7 !important;
  transform: translateY(1px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.btn-login:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 91, 127, 0.25);
}

/***** CANCEL BUTTON *****/

.btn-cancel {
  background-color: #959595 !important;
  color: white !important;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  margin-bottom: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.btn-cancel:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.btn-cancel:active {
  background-color: #dcdcdc !important;
  transform: translateY(1px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.btn-cancel:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 91, 127, 0.25);
}

.clickable-image {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  border-radius: 5%;
}

.clickable-image:hover {
  transform: scale(1.03);
  box-shadow: 0 0 12px rgba(0, 91, 127, 0.4);
}

.edit-btn:hover {
  background-color: #005b7f !important;
  color: white !important;
  text-decoration: none;
  transform: scale(1.03);
}
