/* CARD FORMATTING */

.card-title {
    color: var(--primary-color) !important;
    font-size: 1.5rem;
  }
  
  .card-subtitle {
    font-size: 0.85rem;
  }
  
  .card-content {
    font-size: 0.9rem;
  }
  
  .card h6 {
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    color: #000000;
    font-weight: bold;
  }
  
  .card h5 {
    color: var(--primary-color);
    font-size: 1rem;
  }
  
  .card p {
    font-size: 0.8rem;
  }
  