/***** NavBar and Hamburger ******/

.navbar {
    color: #005b7f;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }

  .hamburger:hover {
    color: #006480 !important;
    font-weight: bold !important;
  }
  
  .hamburger {
    background-color: #fff !important;
    border-color: #007b9e !important;
    color: #007b9e !important;
  }