/***** NavBar and Hamburger ******/

.navbar {
    color: #005b7f;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }

  .hamburger:hover {
    color: #006480 !important;
    font-weight: bold !important;
  }
  
  .hamburger {
    background-color: #fff !important;
    border-color: #007b9e !important;
    color: #007b9e !important;
  }

  .navbar h1 {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 0;
  }
  
  .navbar h4 {
    font-size: 1.2rem;
    line-height: 1.2;
  }
  
  /* Smaller devices (below 768px) */
  @media (max-width: 768px) {
    .navbar h1 {
      font-size: 1.3rem;
    }
  
    .navbar h4 {
      font-size: 1rem;
    }
  }
  
  /* Extra small devices (below 576px) */
  @media (max-width: 576px) {
    .navbar h1 {
      font-size: 1rem;
    }
  
    .navbar h4 {
      font-size: 0.9rem;
    }
  }
  